body {
    font-family: "Comic Sans MS";
}

#inputWords {
    float: left;
    width: 45%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    line-height: 2em;
    text-transform: uppercase;
    margin-top: 8px;
}

input[type=text] {
    border-width: 5 5 1px 5;
    border-color: rgb(153, 7, 7);
}

#buttonDiv {
    text-align: center;
}

#recipeButton {
    margin-top: 30px;
    width: 200px;
    border-color: blue;
}

#story {
    margin-top: 12px;
    width: 45%;
    border: 1px dashed blue;
    padding: 8px;
    float: left;
}

.replacement {
    text-decoration: underline;
    text-transform: uppercase;
}